@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {
  margin: 0;

  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1rem;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}

/* page content */
main {
  position: relative;
  max-width: 1200px;
  margin: 40px auto;
}

/* help layout */
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
.help-layout nav a {
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}
.help-layout nav a:hover {
  border-color: var(--primary);
}
.help-layout nav a.active {
  background: var(--primary);
}

/* faq */
.faq .question {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */
form {
  margin-top: 30px;
}
form input,
form label span,
form textarea {
  display: block;
}
form input,
form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}
form label span {
  margin-bottom: 10px;
}

/* careers list */
.careers > a {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}
.careers > a:hover p {
  color: var(--primary);
}
.careers p {
  margin: 0;
}
.careers > a p:last-child {
  font-size: 0.8em;
  color: #bbb;
}

/* careers details */
.career-details {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* breadcrumbs */
.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
}
.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs .crumb:after {
  content: ">";
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  color: #ddd;
}
.menu-arrow svg {
  font-size: 2.4rem;
}
.menu-arrow {
  background-color: #404863;
  padding: 10px;
  display: flex;
  border-radius: 20px;
  transition: all 400ms ease-in;
  display: none;
}
.menu-arrow.sm-visible {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 300ms ease-in;
}
.menu-arrow svg:hover,
.menu-arrow svg:active {
  fill: #bc4123;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: fit-content;
}
.contact-field label {
  display: flex;
  gap: 1.2rem;
}
.contact button {
  display: block;
  width: fit-content;
  align-items: center;
  justify-content: center;
}
/*Nav sm*/
header {
  position: relative;
}
nav {
  position: relative;
  background-color: #2b3452;
  z-index: 5;
}
.sm-visible {
  top: 100% !important;
  transition: all 300ms ease-in;
}
.sm-links {
  display: flex;
  position: absolute;
  padding: 20px;
  padding-left: 60px;
  right: 0;
  flex-direction: column;
  top: -450%;
  background-color: #404863;
  align-items: flex-end;
  border-radius: 6px;
  border-top-right-radius: 0;
  transition: all 300ms ease-in;
  z-index: 2;
}

.sm-links-con {
  background-color: #404863;
}
.sm-links a {
  position: relative;
}
.sm-links a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  font-size: 1.2rem;
}
.sm-links a.active {
  background: var(--primary);
}
@media (max-width: 500px) {
  header nav .links {
    display: none;
  }
  .menu-arrow {
    display: flex;
  }
  .sm-links {
    top: -270%;
  }
  html {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 370px) {
  html {
    font-size: 15px;
    line-height: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
  }
  .contact-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .contact-field input,
  .contact-field textarea {
    width: 100%;
  }
}
